<h1>Listing agent_applications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Company name</th>
      <th>Company address</th>
      <th>Company city</th>
      <th>Company zip</th>
      <th>Company state</th>
      <th>Check payable to</th>
      <th>Payment address</th>
      <th>Payment city</th>
      <th>Payment zip</th>
      <th>Company phone</th>
      <th>Agent cell phone</th>
      <th>Social security</th>
      <th>Company fax</th>
      <th>License number</th>
      <th>License expiration</th>
      <th>Eo policy number</th>
      <th>Eo expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agent_applications.each do |agent_application| %>
      <tr>
        <td><%= agent_application.user %></td>
        <td><%= agent_application.status %></td>
        <td><%= agent_application.company_name %></td>
        <td><%= agent_application.company_address %></td>
        <td><%= agent_application.company_city %></td>
        <td><%= agent_application.company_zip %></td>
        <td><%= agent_application.company_state %></td>
        <td><%= agent_application.check_payable_to %></td>
        <td><%= agent_application.payment_address %></td>
        <td><%= agent_application.payment_city %></td>
        <td><%= agent_application.payment_zip %></td>
        <td><%= agent_application.company_phone %></td>
        <td><%= agent_application.agent_cell_phone %></td>
        <td><%= agent_application.social_security %></td>
        <td><%= agent_application.company_fax %></td>
        <td><%= agent_application.license_number %></td>
        <td><%= agent_application.license_expiration %></td>
        <td><%= agent_application.eo_policy_number %></td>
        <td><%= agent_application.eo_expiration %></td>
        <td><%= link_to 'Show', agent_application %></td>
        <td><%= link_to 'Edit', edit_agent_application_path(agent_application) %></td>
        <td><%= link_to 'Destroy', agent_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent application', new_agent_application_path %>
