<%- model_class = AgentApplication -%>
<div class="page-header">
  <h1><%=t '.title', :default => AgentApplication %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:company_name) %></th>
      <th><%= model_class.human_attribute_name(:company_address) %></th>
      <th><%= model_class.human_attribute_name(:company_city) %></th>
      <th><%= model_class.human_attribute_name(:company_zip) %></th>
      <th><%= model_class.human_attribute_name(:company_state) %></th>
      <th><%= model_class.human_attribute_name(:check_payable_to) %></th>
      <th><%= model_class.human_attribute_name(:payment_address) %></th>
      <th><%= model_class.human_attribute_name(:payment_city) %></th>
      <th><%= model_class.human_attribute_name(:payment_zip) %></th>
      <th><%= model_class.human_attribute_name(:company_phone) %></th>
      <th><%= model_class.human_attribute_name(:agent_cell_phone) %></th>
      <th><%= model_class.human_attribute_name(:social_security) %></th>
      <th><%= model_class.human_attribute_name(:company_fax) %></th>
      <th><%= model_class.human_attribute_name(:license_number) %></th>
      <th><%= model_class.human_attribute_name(:license_expiration) %></th>
      <th><%= model_class.human_attribute_name(:eo_policy_number) %></th>
      <th><%= model_class.human_attribute_name(:eo_expiration) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @agent_applications.each do |agent_application| %>
      <tr>
        <td><%= agent_application.id %></td>
        <td><%= agent_application.status %></td>
        <td><%= agent_application.company_name %></td>
        <td><%= agent_application.company_address %></td>
        <td><%= agent_application.company_city %></td>
        <td><%= agent_application.company_zip %></td>
        <td><%= agent_application.company_state %></td>
        <td><%= agent_application.check_payable_to %></td>
        <td><%= agent_application.payment_address %></td>
        <td><%= agent_application.payment_city %></td>
        <td><%= agent_application.payment_zip %></td>
        <td><%= agent_application.company_phone %></td>
        <td><%= agent_application.agent_cell_phone %></td>
        <td><%= agent_application.social_security %></td>
        <td><%= agent_application.company_fax %></td>
        <td><%= agent_application.license_number %></td>
        <td><%= agent_application.license_expiration %></td>
        <td><%= agent_application.eo_policy_number %></td>
        <td><%= agent_application.eo_expiration %></td>
        <td><%=l agent_application.created_at, format: :long %></td>
        <td>
          <%= link_to agent_application_path(agent_application), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to agent_application_path(agent_application), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_agent_application_path,
            :class => 'btn btn-primary' %>
