<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @agent_application.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @agent_application.status %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @agent_application.company_name %>
</p>

<p>
  <strong>Company address:</strong>
  <%= @agent_application.company_address %>
</p>

<p>
  <strong>Company city:</strong>
  <%= @agent_application.company_city %>
</p>

<p>
  <strong>Company zip:</strong>
  <%= @agent_application.company_zip %>
</p>

<p>
  <strong>Company state:</strong>
  <%= @agent_application.company_state %>
</p>

<p>
  <strong>Check payable to:</strong>
  <%= @agent_application.check_payable_to %>
</p>

<p>
  <strong>Payment address:</strong>
  <%= @agent_application.payment_address %>
</p>

<p>
  <strong>Payment city:</strong>
  <%= @agent_application.payment_city %>
</p>

<p>
  <strong>Payment zip:</strong>
  <%= @agent_application.payment_zip %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @agent_application.company_phone %>
</p>

<p>
  <strong>Agent cell phone:</strong>
  <%= @agent_application.agent_cell_phone %>
</p>

<p>
  <strong>Social security:</strong>
  <%= @agent_application.social_security %>
</p>

<p>
  <strong>Company fax:</strong>
  <%= @agent_application.company_fax %>
</p>

<p>
  <strong>License number:</strong>
  <%= @agent_application.license_number %>
</p>

<p>
  <strong>License expiration:</strong>
  <%= @agent_application.license_expiration %>
</p>

<p>
  <strong>Eo policy number:</strong>
  <%= @agent_application.eo_policy_number %>
</p>

<p>
  <strong>Eo expiration:</strong>
  <%= @agent_application.eo_expiration %>
</p>

<%= link_to 'Edit', edit_agent_application_path(@agent_application) %> |
<%= link_to 'Back', agent_applications_path %>
